<div class="add-delivery-man-container">
  <div class="header">
    <h2>Add New City</h2>
  </div>
  <form #cityForm="ngForm" (ngSubmit)="onSubmit(cityForm)" class="delivery-form">
    <div class="form-group">
      <label for="name">City Name</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="newCity.name"
        required
        minlength="2"
        #nameRef="ngModel"
        [class.invalid]="nameRef.invalid && nameRef.touched"
      />
      <div class="error" *ngIf="nameRef.invalid && nameRef.touched">
        <small *ngIf="nameRef.errors?.['required']">Name is required.</small>
        <small *ngIf="nameRef.errors?.['minlength']">Min length is 2.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="normalPrice">Normal Price</label>
      <input
        type="number"
        id="normalPrice"
        name="normalPrice"
        [(ngModel)]="newCity.normalPrice"
        required
        min="1"
        #normalPriceRef="ngModel"
        [class.invalid]="normalPriceRef.invalid && normalPriceRef.touched"
      />
      <div class="error" *ngIf="normalPriceRef.invalid && normalPriceRef.touched">
        <small *ngIf="normalPriceRef.errors?.['required']">Normal price is required.</small>
        <small *ngIf="normalPriceRef.errors?.['min']">Price must be > 0.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="pickupPrice">Pickup Price</label>
      <input
        type="number"
        id="pickupPrice"
        name="pickupPrice"
        [(ngModel)]="newCity.pickupPrice"
        required
        min="1"
        #pickupPriceRef="ngModel"
        [class.invalid]="pickupPriceRef.invalid && pickupPriceRef.touched"
      />
      <div class="error" *ngIf="pickupPriceRef.invalid && pickupPriceRef.touched">
        <small *ngIf="pickupPriceRef.errors?.['required']">Pickup price is required.</small>
        <small *ngIf="pickupPriceRef.errors?.['min']">Price must be > 0.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="governorateId">Governorate</label>
      <select
        id="governorateId"
        name="governorateId"
        [(ngModel)]="newCity.governorateId"
        required
        #govRef="ngModel"
        [class.invalid]="govRef.invalid && govRef.touched"
      >
        <option value="" disabled selected>Select Governorate</option>
        <option *ngFor="let gov of governorates" [value]="gov.id">
          {{ gov.name }}
        </option>
      </select>
      <div class="error" *ngIf="govRef.invalid && govRef.touched">
        <small *ngIf="govRef.errors?.['required']">Governorate is required.</small>
      </div>
    </div>
    <div class="form-actions">
      <button [disabled]="cityForm.invalid" class="add-btn">
        Add City
      </button>
    </div>
    <div class="error-msg" *ngIf="serverError">
      <p>{{ serverError }}</p>
    </div>
  </form>
</div>
