<div class="register-page">
  <div class="register-container">

    <div class="form-section" style="display: flex; flex-direction: column; justify-content: center; align-items: center; ">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        class="register-form"
        >
        <h2 class="title mb-4" style="color: #055866;">Register as a <span style="color: #89c93b;">Seller</span></h2>

        <div class="row">
          <div class="col-md-6 form-group">
            <label>User Name</label>
            <input class="form-control" formControlName="userName" />
            @if (registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched) {
              <small class="text-danger">
                Username is required
              </small>
            }
          </div>
          <div class="col-md-6 form-group">
            <label>Email</label>
            <input class="form-control" formControlName="email" />
            @if (registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched) {
              <small class="text-danger">
                Email is required
              </small>
            }
            @if (registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched) {
              <small class="text-danger">
                Invalid email format
              </small>
            }
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 form-group">
            <label>First Name</label>
            <input class="form-control" formControlName="firstName" />
            @if (registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched) {
              <small class="text-danger">
                First Name is required
              </small>
            }
          </div>
          <div class="col-md-4 form-group">
            <label>Last Name</label>
            <input class="form-control" formControlName="lastName" />
            @if (registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched) {
              <small class="text-danger">
                Last Name is required
              </small>
            }
          </div>
          <div class="col-md-4 form-group">
            <label>Store Name</label>
            <input class="form-control" formControlName="storeName" />
            <div *ngIf="registerForm.get('storeName')?.invalid && registerForm.get('storeName')?.touched" class="text-danger">
              Store Name is required
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label for="city">City</label>
            <select id="city" formControlName="cityId" class="form-control city-select">
              <option value="" disabled selected hidden>Select your city…</option>
              <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
            </select>
            <div *ngIf="registerForm.get('cityId')?.touched && registerForm.get('cityId')?.invalid" class="text-danger">
              City is required.
            </div>
          </div>
          <div class="col-md-6 form-group">
            <label>Phone Number</label>
            <div formArrayName="phones">
              <input [formControlName]="0" class="form-control" />
              @if (phones.controls[0].invalid && phones.controls[0].touched) {
                <small class="text-danger d-block mt-1">
                  @if (phones.controls[0].errors?.['required']) {
                    <span>Phone number is required</span>
                  }
                  @if (phones.controls[0].errors?.['minlength']) {
                    <span>Phone number must be at least 11 digits</span>
                  }
                  @if (phones.controls[0].errors?.['pattern']) {
                    <span>Phone must start with 010, 011, 012, or 015 and contain 11 digits</span>
                  }
                </small>
              }
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Address</label>
          <textarea class="form-control address-input" formControlName="address" rows="2"></textarea>
          <div *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched" class="text-danger">
            Address is required
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" />
          @if (registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched) {
            <small class="text-danger">
              Password is required
            </small>
          }
          @if (registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched) {
            <small class="text-danger">
              Password must be at least 6 characters
            </small>
          }
        </div>

       

        <button type="submit" class="btn-submit mt-3" [disabled]="registerForm.invalid">Register</button>

        <!-- Error From API -->
        @if (errorMessage) {
          <div class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
        }
      </form>
      <div class="nav-btn-row" style="display: flex; justify-content: center; align-items: center; margin-top: 20px;" >
        <button type="button" class="nav-btn" (click)="goHome()">Go Home</button>
      </div>
    </div>


    <div class="image-section">
      <img src="assets/Images/transport-logistics-concept.jpg" alt="Register" />
    </div>
  </div>
</div>
