/* Global color variables */
:root {
  --primary-color: #055866;
  --accent-color: #DAF87A;
  --background-color: #E3F2F5;
  --secondary-color: #3A3362;
  --white: #ffffff;
  --black: #000000;
}

body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: var(--background-color); }
* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { height: 100%; }

#deleteConfirmModal { z-index: 1060 !important; }
.modal-backdrop { z-index: 0 !important; display: none !important; }
