.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.pagination-controls label {
  font-size: 0.95rem;
  color: var(--main-gray);
}

.pagination-controls select {
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: 0 8px;
}

.pagination-buttons {
  display: flex;
  gap: 0;
}

.pagination-buttons button {
  background: #fff;
  border: 1px solid #ccc;
  color: var(--main-dark);
  padding: 6px 10px;
  margin: 0 3px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  box-shadow: none;
}

.pagination-buttons button:hover {
  background: var(--main-accent);
  border-color: var(--main-accent);
  color: var(--main-dark);
}

.pagination-buttons button.active {
  background: var(--main-dark);
  color: #fff;
  border-color: var(--main-dark);
  font-weight: bold;
}


td:nth-child(4) {
  text-align: center;
  vertical-align: middle;
}

/* .status-badge,
.status-active,
.status-inactive {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  min-width: 80px;
} */


/* Disabled button visual feedback */
.add-btn[disabled],
.edit-btn[disabled],
.delete-btn[disabled] {
  cursor: not-allowed !important;
  opacity: 0.6;
  pointer-events: auto;
}
