.container {
  margin: 50px auto;
  border-radius: 10px;
  background-color:white;
  height: 500px;
  width: 97%;
}

th{
  text-align: left;
  font-weight: bold;
  color: #000;
}
td {
  text-align: left;
  color: #000;
}