<div class="container-fluid" style="background-color: #055866">
  <nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <a
        class="navbar-brand d-flex align-items-center text-white fw-bold"
        href="#"
      >
        <!-- <i class="fas fa-bars menu-icon"></i> -->
  <img src="assets/Images/logo-Pica.png" class="carvex-logo" alt="Carvex Logo" />
        <span class="system-name">arvex</span>
      </a>

      <button
        class="navbar-toggler bg-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-outline-light me-2" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a
              class="btn"
              style="background-color: #daf87a; color: #3a3362"
              routerLink="/register"
              >Register</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
