.carvex-logo {
  width: 32px;
  height: 34px;
  vertical-align: middle;
}

.transform {
  transform: translateX(115px);
}
.system-name {
  font-size: 1.9rem;
  font-weight: 700;
  color: #fff;
  font-family: "Segoe UI", Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: lowercase;
  transform: translateX(-10px);
}

.navbar-nav .nav-link {
  font-size: 1rem;
  margin: 0 10px;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #daf87a !important;
}

.navbar .btn {
  border-radius: 20px;
}

@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav.ms-auto,
  .navbar-nav.mx-auto {
    margin-top: 10px;
  }
}
